<div class="pokemon">
<div class="center"><img src="<%= @pokemon.img_url %>"/></div>
<p>Name: <%= @pokemon.name %></p>
<p>Type: <%= @pokemon.poke_type %></p>
<p>Combat Points: <%= @pokemon.cp %></p>
</div>



<div class="pokemon button"><a href= "<%= "/pokemons/#{@pokemon.id}/edit" %>">Edit This Pokemon</a></div>

<div class="pokemon button">Delete This Pokemon
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>

</div>