<!-- <h1><a href="/pokemons">Back to All Pokemons</a></h1> -->
<div>
<p>Pokemon Name: <%= @pokemon.name %></p>
<p>Pokemon Type: <%= @pokemon.poke_type %></p>
<p>Pokemon Combat Points: <%= @pokemon.cp %></p>
<p>Pokemon Image: </p><img src="<%= @pokemon.img_url %>"/>
</div>

<h3><a href= "<%= "/pokemons/#{@pokemon.id}/edit" %>">Edit This Pokemon</a></h3>

<h2>Delete This Pokemon</h2>
<form action="/pokemons/<%= @pokemon.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>

