<div class="pokemon">
<div class="center"><img src="<%= @trainer.img_url %>"/></div>
<p>Name: <%= @trainer.name %></p>
<p>Level: <%= @trainer.level %></p>
</div>

<div class="pokemon button"><a href= "<%= "/trainers/#{@trainer.id}/pokemons" %>">See This Trainers Pokemons</a></div>

<div class="pokemon button"><a href= "<%= "/trainers/#{@trainer.id}/edit" %>">Edit This Trainer</a></div>

<div class="pokemon button">Delete This Trainer
<form action="/trainers/<%= @trainer.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input class="button-delete" type="submit" value="Delete!">
</form>
</div>







